.navbar > li { 
    display: inline-block;  
    border: 5px solid black; 
    width: 150px; 
    list-style-type: none; 
    padding: 15px 15px 15px 15px; 
    margin-top: 0; 
    margin-left: 10px; 
    text-align: center;
    background-color: lightseagreen;
    }
    
    