
#reflection::first-letter {color:blue; font-family: sans-serif; font-style: italic;}
#reflection {text-indent: 2em;}
h1{color:#cdd9dd;font-size:30pt;font-family: serif;background-color:#000000;border: 5px solid #000099;padding: 10px; margin: 20px; text-align: center;}
h3{color:#cdd9dd;font-size:20pt;text-align: center;}
main p{color:#ff8c00;font-family:'Jost', sans-serif;}
footer{border-top:4px solid #000099; padding-top: 1px; color:black;}
blockquote{text-align: center;}
body{background-color: #45464d;}
#intro{float: top; width: 1300px}
#img1 {float: right}

@media screen and (max-width:850px) { 
    main { 
        background-color:green; 
    } 
}
@media screen and (max-width:350px) { 
    main { 
        background-color:red; 
    } 
}   